.listCar {
  background-color: #ffffff;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}

.listCar h1 {
  text-align: center;
}

.listCar-format-main {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  padding: 10px;
  background: #ffffff;

  gap: 50px;
}

.listCar-format {
  padding: 10px;
  background: #fff;
  border: 1px solid #ccc;
  align-items: center;
}

.listCar-car-image {
  width: 150px;
  height: auto;
  object-fit: cover;
}

.listCar-remove-icon {
  width: 20px;
  cursor: pointer;
  margin-left: 20px;
}
